* {
    box-sizing: border-box;
    font: 12px Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
    width: 9px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: darkgrey;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid darkgrey;
}

body {
    margin: 0;
}

.app {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.app.articles {
    width:33.3%;
    overflow-y: scroll;
}

.app.outfits {
    width: 33.3%;
    left: 33.3%;
    background-color: grey;
    overflow-y: scroll;
}

.app.transforms {
    width:33.4%;
    left: 66.6%;
    overflow-y: scroll;
}

.outfit {
    font-size: 14px;
    user-select: none;
}

.outfit-content {
    font-size: 10px;
    padding: 0 18px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    cursor: grab;
    background-color: #f1f1f1;
    user-select: none;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
